In [1]:
import numpy as np
import pandas as pd
data=pd.read_csv('iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [2]:
#steps in ml
#1.importing libraries
#2.importing dataset
#3.data preprocessing 
#4.identifying input and output column 
#5.training the machine
#6.predicting output
#imput data should be a 2d matrix and output should be a one-d matrix  
#matrix are transformation on vectors 
#input is denoted by 'X' and output is represented by 'y'
#both input and output should be numbers , since machine learning algorith is based on mathematics 4

In [8]:
data['Species'].unique()

array(['Iris-setosa', 1, 3], dtype=object)

In [9]:
data['Species'].replace({'Iris-sentosa':0,'Iris-versicolor':1,'Iris-virginica':3},inplace=True)

In [10]:
data=data=pd.read_csv('iris.csv')

In [15]:
data['Species'].replace({'Iris-sentosa':0,'Iris-versicolor':1,'Iris-virginica':3},inplace=True)

In [21]:
data['Species'].replace({'Iris-setosa':0},inplace=True)

In [22]:
data.head(30)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    1            5.1           3.5            1.4           0.2        0
1    2            4.9           3.0            1.4           0.2        0
2    3            4.7           3.2            1.3           0.2        0
3    4            4.6           3.1            1.5           0.2        0
4    5            5.0           3.6            1.4           0.2        0
5    6            5.4           3.9            1.7           0.4        0
6    7            4.6           3.4            1.4           0.3        0
7    8            5.0           3.4            1.5           0.2        0
8    9            4.4           2.9            1.4           0.2        0
9   10            4.9           3.1            1.5           0.1        0
10  11            5.4           3.7            1.5           0.2        0
11  12            4.8           3.4            1.6           0.2        0
12  13            4.8           3.0            1.4           0.1        0
13  14            4.3           3.0            1.1           0.1        0
14  15            5.8           4.0            1.2           0.2        0
15  16            5.7           4.4            1.5           0.4        0
16  17            5.4           3.9            1.3           0.4        0
17  18            5.1           3.5            1.4           0.3        0
18  19            5.7           3.8            1.7           0.3        0
19  20            5.1           3.8            1.5           0.3        0
20  21            5.4           3.4            1.7           0.2        0
21  22            5.1           3.7            1.5           0.4        0
22  23            4.6           3.6            1.0           0.2        0
23  24            5.1           3.3            1.7           0.5        0
24  25            4.8           3.4            1.9           0.2        0
25  26            5.0           3.0            1.6           0.2        0
26  27            5.0           3.4            1.6           0.4        0
27  28            5.2           3.5            1.5           0.2        0
28  29            5.2           3.4            1.4           0.2        0
29  30            4.7           3.2            1.6           0.2        0

In [31]:
X=data.iloc[:,1:-1].values

In [32]:
y=data.iloc[:,-1].values

In [33]:
y.shape

(150,)

In [56]:
#cross validation
from sklearn.model_selection import train_test_split

In [57]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2)

In [58]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier()

In [59]:
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [69]:
y_pred=classifier.predict(X_test)

In [70]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9666666666666667

In [71]:
classifier.predict(np.array([1.5,1.6,2.1,2.6]).reshape(1,4))

array([3], dtype=int64)

In [72]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [75]:
def flower_species(s_len,s_wid,p_len,p_wid):
    species=classifier.predict(np.array([s_len,s_wid,p_len,p_wid]).reshape(1,4))
    if species==0:
        return "Iris-setosa"
    elif species==1:
        return "Iris-versicolor"
    else:
        return "Iris_virginica"

In [76]:
flower_species(1.5,1.6,2.1,2.6)

'Iris_virginica'